<!DOCTYPE html>
<html>
	<head>
  		<title>Warhawk 4x4</title>
  			<script src="platform.js" text="text/javascript"></script>
  			<link rel="stylesheet" href="bootstrap.min.css">
  			<link rel="stylesheet" href="style.css">
  			<link rel="import" href="../elements/navbar.html">
  			<link rel="import" href="../elements/my-test.html">
  			<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Asap">
		    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
		    <script src="bootstrap.min.js"text="text/javascript"></script>
		    <style>
		      body {
		        font-family: 'Asap', serif;
		      }
		    </style>
	</head>
	<body style="background-color: black">
		<!--Navigation Bar-->
		<div id='cssmenu'>
			<ul>
			   <li style="margin-left: 70px;"><a href='#'><span>Accessories</span></a></li>
			   <li class='active has-sub'><a href='#'><span>Bumpers</span></a>
			      <ul>
			         <li style="margin-left:300px;margin-top:30px"><a href='#'><span>Model 1</span></a></li>
			         <li style="margin-top:30px"><a href='#'><span>Model 2</span></a></li>
			      </ul>
			   </li>
			   <li><a href='#'><span>Gear</span></a></li>
			   <div id="circleLogo"></div>
			   <li style="margin-left: 100px;"><a href='#'><span>Team Beckett</span></a></li>
			   <li><a href='#'><span>Gallery</span></a></li>
			   <li class='last'><a href='#'><span>Contact</span></a></li>
			</ul>
		</div>
		<!--Carousel-->
		<div id="carCarousel" class="carousel slide" data-ride="carousel" style="width:100%; height: 500px; position:relative; top:-50px">
			<!-- Indicators -->
			<ol class="carousel-indicators">
			    <li data-target="#carCarousel" data-slide-to="0" class="active"></li>
			    <li data-target="#carCarousel" data-slide-to="1"></li>
			    <li data-target="#carCarousel" data-slide-to="2"></li>
			</ol>
            <div class="carousel-inner" style="height:500px; position:relative; top:65px">
                <div class="item active">
                  <img src="https://scontent-a-dfw.xx.fbcdn.net/hphotos-xpa1/t1.0-9/1016371_10151451912217924_1692177887_n.jpg" style="min-width: 1000px; min-height: 100%; width: 100%; position: relative; top: -200px">
                </div>
                <div class="item">
                  <img src="https://scontent-a-dfw.xx.fbcdn.net/hphotos-frc3/t1.0-9/536200_10151451910252924_1081091907_n.jpg" style="min-width: 1000px; min-height: 100%; width: 100%; position: relative; top: -150px">
                </div>
                <div class="item">
                  <img src="https://scontent-a-dfw.xx.fbcdn.net/hphotos-xfa1/t1.0-9/581710_10151451907202924_555593586_n.jpg" style="min-width: 1000px; min-height: 100%; width: 100%; position: relative; top: -180px">
                </div>
            </div>

	 		 <!-- Controls -->
	  		<a class="left carousel-control" href="#carCarousel" data-slide="prev">
	    		<span class="glyphicon glyphicon-chevron-left arrow"></span>
	  		</a>
	  		<a class="right carousel-control" href="#carCarousel" data-slide="next">
	    		<span class="glyphicon glyphicon-chevron-right arrow"></span>
	  		</a> 
		</div>
		<!-- Bottom pictures -->
		<div style="margin: 0 auto;padding: 10px 0 0;overflow: hidden;width: 1040px;position:relative;top:-50px;">
			<a href="#" class="widget" style="background-image:url('https://scontent-b-dfw.xx.fbcdn.net/hphotos-xaf1/t1.0-9/1004658_10151451910527924_1515639575_n.jpg');background-size:500px;"></a>
	
			<a href="#" class="widget" style="background-image:url('https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xfa1/t1.0-9/164480_10151451903002924_391054006_n.jpg');background-size:500px"></a>
		</div>

	</body>
</html>